NEXT_PUBLIC_SUPABASE_URL=https://zfuzivomwprzzzuukmgo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmdXppdm9td3Byenp6dXVrbWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2NzE2NDMsImV4cCI6MjA5MjI0NzY0M30.EKD9fn5uzsKV28Ez6xyA2guQKaNhoNRLh9lH-rduIqQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmdXppdm9td3Byenp6dXVrbWdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY3MTY0MywiZXhwIjoyMDkyMjQ3NjQzfQ.zpa9kN_hrzxglCFGeOdrTNxicOl6hM1v6xPXlARTBxs
NEXT_PUBLIC_APP_URL=http://localhost:3000